{% extends 'music/base.html' %}
{% block title %}All Problems{% endblock %}
{% block problems_active %}active{% endblock %}

{% block body %}
<div class="container-fluid problems-container">

    <div class="row">
        <div class="col-sm-12">
            <ul class="nav nav-pills" style="margin-bottom: 10px;">
                <li role="presentation" {% if filter_by == 'all' %}class="active"{% endif %}><a href="{% url 'music:problems' 'all' %}">View All</a></li>
                <li role="presentation" {% if filter_by == 'favorites' %}class="active"{% endif %}><a href="{% url 'music:problems' 'favorites' %}">Favorites</a></li>
            </ul>
        </div>
    </div>

    <div class="row">

        <div class="col-sm-12">

            <div class="panel panel-default">
                <div class="panel-body">
                    <table class="table">
                        <thead>
                            <tr>
                                <th>Problem Title</th>
                                <th>Curator</th>
                                <th>Text File</th>
                                <th>Problemset</th>
                                <th>Favorite</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for problem in problem_list %}
                                <tr>
                                    <td>{{ problem.problem_title }}</td>
                                    <td>{{ problem.problemset.curator }}</td>
                                    <td>
                                        <a target="_blank" href="{{ problem.audio_file.url }}">
                                            <button type="button" class="btn btn-success btn-xs">
                                                <span class="glyphicon glyphicon-download"></span>&nbsp; Download
                                            </button>
                                        </a>
                                    </td>
                                    <td>
                                        <a href="{% url 'music:detail' problem.problemset.id %}">
                                            <img src="{{ problem.problemset.problemset_logo.url }}" class="img-responsive" style="width: 20px; float: left; margin-right: 10px;" />
                                        </a>
                                        <a href="{% url 'music:detail' problem.problemset.id %}">{{ problem.problemset.problemset_title }}</a>
                                    </td>
                                    <td>
                                        <a href="{% url 'music:favorite' problem.id %}" class="btn-favorite"><span class="glyphicon glyphicon-star {% if problem.is_favorite %}active{% endif %}"></span></a>
                                    </td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>

        </div>

    </div>

</div>
{% endblock %}
